/* section 1 ---------------------------------------------------------------------------------------------------------------------------- */

section:nth-of-type(1) h2 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@media (min-width: 38em) {
    section:nth-of-type(1) img {
        content: url("../images/artist_edition_desktop.avif");
    }
}




/* Section 2 ---------------------------------------------------------------------------------------------------------------------------- */

main section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

section:nth-of-type(2) h2 {
    color: var(--color-absolut-white);
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 2.5rem;
    position: absolute;
    max-width: 30ch;
    padding: 0em 1em 2em 1em;
}

section:nth-of-type(2) span {
    font-size: 1.5em;
}


main section:nth-of-type(2) a {
    font-family: var(--font-body);
    color: var(--color-accent);
    background-color: var(--color-absolut-white);
    font-size: 1.5em;
    position: absolute;
    padding: 0.5em;
    margin: 2em;
}

@media (min-width: 38em) {
    main section:nth-of-type(2) img {
        content: url("../images/video_desktop.avif");
        height: auto;
    }
}



/* SECTION 3 --------------------------------------------------------------------------------------------------------------------------- */

section:nth-of-type(3) {
    margin-bottom: 10em;

}

section:nth-of-type(3) h2 {
    font-family: var(--font-accent);
    color: var(--color-text);
    text-align: center;
    font-size: 2rem;
    transform: rotate(-10deg);
    padding: 1em;
}

section:nth-of-type(3) span {
    font-family: var(--font-headline);
    font-size: 2em;
    letter-spacing: 0.1em;
}

section:nth-of-type(3) h3 {
    font-size: 1em;
}

section:nth-of-type(3) ul {
    display: flex;
    list-style-type: "";
    gap: 1em;
    overflow-x: auto;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    scroll-snap-type: x mandatory;
    anchor-name: --carousel;
}

section:nth-of-type(3) ul li {
    flex-basis: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
}

section:nth-of-type(3) ul img {
    display: block;
}

@media (prefers-reduced-motion:no-preference) {
    section:nth-of-type(3) ul {
        scroll-behavior: smooth;
    }
}

section:nth-of-type(3) ul {
    &::scroll-button(*) {
        position: fixed;
        position-anchor: --carousel;
        position-visibility: always;
        font-family: "Material Symbols Outlined";

        width: 3em;
        aspect-ratio: 1/1;
        border-radius: 50%;

        border: none;
        color: var(--color-absolut-white);
        background-color: var(--color-accent);
    }

    &::scroll-button(right) {
        position-area: bottom;
        content: '→' / 'Next';
        justify-self: end;
    }

    &::scroll-button(left) {
        position-area: bottom;
        content: '←' / 'Previous';
        justify-self: start;
    }

    &::scroll-button(*):disabled {
        background-color: var(--color-background-subtile);
        color: var(--color-text);
    }
}

@media (min-width: 38em) {
    section:nth-of-type(3) ul {
        overflow-x: visible;
        scroll-snap-type: none;
        justify-content: space-between;
    }

    section:nth-of-type(3) ul li {
        flex: 1 1 18%;
        scroll-snap-align: none;
    }

    section:nth-of-type(3) ul::scroll-button(*) {
        display: none;
    }
}






/* Section 4 ------------------------------------------------------------------------------------------------------------------------------*/

section:nth-of-type(4) {
    display: grid;
    grid-template-rows: 1em min-content;
    justify-items: center;
}

section:nth-of-type(4) div {
    grid-column: 1 / -1;
    grid-row: 2;
    justify-self: center;
    text-align: center;
    gap: 1em;
    z-index: 1;
}

section:nth-of-type(4) h2 {
    color: var(--color-absolut-white);
}

section:nth-of-type(4) a {
    color: var(--color-absolut-white);
}

section:nth-of-type(4) img {
    width: 100%;
    display: block;
    grid-column: 1;
    grid-row: 1/4;
}

@media (width > 30em) {
    section:nth-of-type(4) {
        grid-template-rows: min-content;
        grid-template-columns: 3fr 2fr;
    }

    section:nth-of-type(4) div {
        background-color: #0009;
        grid-column: 1;
        grid-row: 2;
        align-self: center;
        padding: 1em;
        margin-left: 2em;
    }

    section:nth-of-type(4) h2 {
        font-size: 3.5rem;
    }

    section:nth-of-type(4) a {
        display: inline-block;
        background-color: var(--color-absolut-white);
        padding: 1em;
        color: var(--color-accent);
        margin-bottom: 1rem;
    }

    section:nth-of-type(4) img {
        content: url("../images/kersen_cocktail_desktop.avif");
        width: 100%;
        display: block;
        grid-column: 1/4;
    }

}




/* Section 5 -------------------------------------------------------------------------------------------------------------------------------*/


section:nth-of-type(5) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 1rem;
    margin: 2em;
}


section:nth-of-type(5) h2,
p,
button {
    color: var(--color-text);
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: center;

}

section:nth-of-type(5) img {
    width: 100%;
    height: auto;
    margin: 0.5rem 0;
    display: block;
}

section:nth-of-type(5) p {
    font-family: var(--font-body);
    color: var(--color-text);
}



section:nth-of-type(5) button {
    border: 1px solid var(--color-text);
    font: interit;
    max-width: 50%;
}

@media (width > 38em) {
    section:nth-of-type(5) {
        grid-template-columns: repeat(4, 1fr);
        margin: 6em;
    }
}





/* Section 6 -----------------------------------------------------------------------------------------------------------------------------*/

section:nth-of-type(6) ul {
    display: grid;
    gap: 1em;

    @media (width > 40em) {
        grid-template-columns: 1fr 1fr;
    }

    @media (width > 60em) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


section:nth-of-type(6) h2 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


section:nth-of-type(6) article {
    display: flex;
    flex-direction: column-reverse;
}


section:nth-of-type(6) h3 {
    font-family: var(--font-body);
    font-size: 1em;
    color: var(--color-text);
    width: 20ch;
    order: 0;
}

section:nth-of-type(6) a {
    color: var(--color-accent);
    order: -1;
    text-align: left;
}

section:nth-of-type(6) article img {
    object-fit: cover;
}