/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

html,
body {
	margin: 0;
	background-color: var(--color-background);
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	color-scheme: light dark;
	--color-text: #1d1d1d;
	--color-background: #FFFFFF;
	--color-footer-background: #F3F3F3;
	--color-accent: #007AFF;
	--color-darkAccent: #1f0eb9;
	--color-background-subtile: #ffefe9;
	--color-absolut-white: #FFFFFF;
	--font-body: 'absolut body', sans-serif;
	--font-bodyBold: 'absolut bodyBold', sans-serif;
	--font-headline: 'absolut heading', sans-serif;
	--font-accent: 'absolut accent', sans-serif;
	--font-subtitle: 'absolut subtitle', sans-serif;
}

@media (prefers-color-scheme: dark) {

	:root {
		color-scheme: light dark;

		--color-text: #FFFFFF;
		--color-absolut-white: #e4e4e4;
		--color-background: #1d1d1d;
		--color-footer-background: #202022;
		--color-accent: #6bacf2;
		--color-darkAccent: #1f0eb9;
		--color-background-subtile: #474241;
	}
}



/* Dronken mode */


input {
	appearance: none;

	width: 4em;
	aspect-ratio: 2/1;
	background: var(--color-accent);

	border-radius: 2em;

	font: inherit;

}

input::after {
	content: "";
	width: 2em;
	aspect-ratio: 1;
	background: var(--color-darkAccent);
	display: block;
	border-radius: inherit;

	transition: 0.4s ease;

}

input:checked::after {
	translate: 2em;
	background: var(--color-darkAccent);
}

@keyframes wave {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-2rem);
	}
}


ul li input[type="checkbox"]:checked~h2 {
	animation: wave 2s ease-in-out infinite;
}





/*********************/
/* Fonts en headings */
/*********************/

@font-face {
	font-family: 'absolut accent';

	src: url("../fonts/Absolut_handwritten.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'absolut heading';
	src: url("../fonts/AbsolutHeadlineCondensed.ttf");
	letter-spacing: 8px;
}

@font-face {
	font-family: 'absolut body';
	src: url("../fonts/AbsolutSansRegular.ttf");
	font-style: normal;
}

@font-face {
	font-family: 'absolut bodyBold';
	src: url("../fonts/AbsolutSans2021-Bold.woff2");
	font-style: bold;
}

@font-face {
	font-family: 'absolut subtitle';
	src: url("../fonts/AbsolutSansRegular.ttf");
	font-weight: 400;
	font-style: bold;
}

h1 {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

h2 {
	font-family: var(--font-headline);
	font-size: 2rem;
	color: var(--color-text);
}

h3 {
	color: var(--color-text);
}

p {
	color: var(--color-text);
}


/* Linkjes en buttons */

a {
	font-family: var(--font-body);
	text-decoration: none;
	color: var(--color-text);
	padding: 0em 0em 0.3em 0em;
}

button {
	background: none;
	border: none;
	padding: 1em;
}

button img {
	max-width: 2em;

}

button:hover {
	cursor: pointer;
}


button svg {
	width: 3em;
	height: 3em;
	display: block;

}








article a {
	display: flex;
	flex-direction: column;
	text-align: center;
}

article h3 {
	order: 2;
}

article img {
	order: 1;
	object-fit: contain;
	width: auto;
}

img {
	width: 100%;
	height: auto;
	display: block;
}





/* Lijstopmaak en Navigatie */



ul {
	list-style: none;
	padding: 2em;

}

header nav button {
	position: relative;
	z-index: 9990;
}


header nav.is_open button img {
	content: url("/images/icons_en_logos/menu_open.svg");
}

header nav ul {
	font-family: var(--font-bodyBold);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	translate: -100% 0;
	transition: 1s;
	padding: 2em;
	background-color: var(--color-footer-background);
}

header nav.is_open ul {
	margin-top: 0;
	translate: 0 0;
}

header nav ul li {
	font-size: 1.5em;
	text-align: left;
	/* margin: 1em 0; */
	padding: 1em 1em 1em 1em;
	border-bottom: var(--color-text) solid 0.5px;
	transition: transform 0.3s ease;

}

header nav ul li:nth-last-of-type(1) {
	border-bottom: none;
	transition: none;
}

header nav ul li:nth-last-of-type(2) {
	border-bottom: none;
	transition: none;
}

@media (min-width: 38em) {
	header nav ul {
		width: 40%;
	}
}







header nav ul li:hover,
header nav ul li a:focus {
	background-color: var(--color-background);
	transform: translateX(0.5em);
}


header nav ul li a:focus-visible {
	outline: 2px solid var(--color-accent);
	background-color: var(--color-background-subtile);
}

header nav ul li a:focus-visible {
	transform: translateX(10px);
}



/* Header en Footer */

header {
	background-image: url("../images/icons_en_logos/header.avif");
	padding: 0em 0em 2em 2em;
	color: var(--color-absolut-white);
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 9999;
}

header img {
	height: 2em;
	width: auto;

}

header nav {
	order: -1;
	flex: 0 0 auto;
}






header img {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 2em;
	width: auto;
}


footer {
	font-family: var(--font-body);
	color: var(--color-text);
	line-height: 2.5em;
	background-color: var(--color-footer-background);
	padding: 2rem;
}

footer h2 {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}




footer summary {
	font-family: var(--font-bodyBold);
	cursor: pointer;
	list-style: none;
}

footer ul {
	margin: 0.5rem 0 0 1rem;
	padding: 0;
}

footer ul li {
	font-family: var(--font-body);
	margin-bottom: 0.3rem;
	border-bottom: 0.5px solid var(--color-text);
	transition: transform 0.3s ease;

}

footer ul li:hover {
	background-color: var(--color-background);
	transform: translateX(10px);

}

footer section {
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}


footer section button {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	flex: 0 0 auto;
	transition: transform 0.3s ease;

}

/* voor anmieren ::details-content: van https://www.youtube.com/watch?v=Vzj3jSUbMtI */

details ::marker {
	content: '';
	/* verbergen voor safari nog doen */
}

details summary::-webkit-details-marker {
	display: none;
}

summary {
	border-bottom: 0.5px solid var(--color-text);

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .5em;
}

summary::after {
	content: "+";
	transition: 1s;
	font-size: 2em;
	line-height: 1rem;
}

details[open] summary::after {
	content: "-";
}

footer svg {
	fill: var(--color-text)
}

footer svg:hover {
	background-color: var(--color-background);
	padding: 0.5em;
	color: var(--color-darkAccent);
	border-radius: 50%;
}

@media (width > 42em) {
	footer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 2rem;
		gap: 1em;
	}

	summary {
		border: none;
	}

	summary::after {
		content: "";
	}

	details::details-content {
		content-visibility: visible;
	}

	footer section {
		grid-column: 4 / span 1;


		justify-content: flex-start;
		align-items: flex-start;
		margin-top: 0;
	}

}