/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

@font-face {
	font-family: 'absolut accent';

	src: url("/fonts/AbsolutHandwrittenHeadline2021-Regular.01f05d40c66bf9acb545b4fc5847b555.woff2") format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'absolut heading';

	src:url("/fonts/AbsolutHeadlineWeb2021-Condensed.ttf") 
}

@font-face {
	font-family: 'absolut body';

	src: url("/fonts/AbsolutSans2021-Regular.ttf");
	font-weight: 100;
	font-style: normal;
}

h1 {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

header {
	padding: 1em;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	padding: 1rem;
	background-color: var(--color-background);
	color: var(--color-text-on-background);
}

header img {
	height: 2em;
	width: auto;

}

ul {
	list-style: none;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav ul li {
	width: 2em;
	height: 4px;
	background: var(--color-text-on-background);
	border-radius: 4px;
	margin: 0.6em 0;
	transition: .4s;
}

input:checked+label ul li:nth-child(1) {
	transform: rotate(45deg) translateY(8px);
}

input:checked+label ul li:nth-child(2) {
	transform: rotate(-45deg) translateY(-8px);
}

/* hamburger lijnen */
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav ul li {
	width: 2em;
	height: 4px;
	background: var(--color-text-on-background);
	border-radius: 4px;
	margin: 0.6em 0;
	transition: .4s;
}

/* transform hamburger naar kruis */
input:checked+label ul li:nth-child(1) {
	transform: rotate(45deg) translateY(8px);
}

input:checked+label ul li:nth-child(2) {
	transform: rotate(-45deg) translateY(-8px);
}




img {
	width: 100%;
	height: auto;
	display: block;
}


h2,
h3 {
	font-family: 'absolut heading', sans-serif;
}

h3 {
	font-size: 0.7em;
}

a {
	text-decoration: none;
	color: var(--color-text);
	font-family: 'absolut heading', sans-serif;
	padding: 0em 0em 0.3em 0em;
}

button {
	outline-color: transparent;
	border: none;
}

button img {
	max-width: 2em;

}

button:hover {
	cursor: grab;
}

article a {
	display: flex;
	flex-direction: column;
	text-align: center;
}

article h3 {
	order: 2;
}

article img {
	order: 1;
	height: 14em;
	object-fit: contain;
	width: auto;
}


footer {
	font-family: 'absolut heading', sans-serif;
	line-height: 2.5em;
	background-color: var(--color-footer-background);
	padding: 2rem;
}


footer summary {
	font-weight: bold;
	cursor: pointer;
	list-style: none;
}

footer ul {
	margin: 0.5rem 0 0 1rem;
	padding: 0;
}

footer ul li {
	font-family: "absolut body", sans-serif;
	margin-bottom: 0.3rem;
	border-bottom: 0.5px solid var(--color-text);

}

footer section:nth-of-type(2) {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}

footer section h2 {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

footer section button {
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}









/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #0000BD;
	--color-text-on-background: #FFFFFF;
	--color-footer-background: #F3F3F3;
	--color-accent: #007AFF;
	--text-heading: 'absolut heading', sans-serif;
	--text-body: 'absolut body', sans-serif;
	--text-accent: 'absolut accent', sans-serif;


}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
/* @media (max-width: 600px) { */
/* CSS voor mobiel */


/* Moet naar stylesheet van home */



section:nth-of-type(1) h2 {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}



section:nth-of-type(2) {
	position: relative;
	display: flex;
	justify-content: center;
}

section:nth-of-type(2) h2 {
	font-family: 'absolut heading', sans-serif;
	position: absolute;
	top: 1em;
	color: white;
	text-align: center;
	font-size: 2.5rem;
	z-index: 10;
}




section:nth-of-type(2) a {
	font-family: 'absolut body', sans-serif;
	position: absolute;
	top: 9em;
	background-color: var(--color-text-on-background);
	padding: 0.5em;
	color: var(--color-background);
	font-size: 1.5em;
	z-index: 10;
}

/* nog even de left en top verbeteren bij s2 en s4 */

section:nth-of-type(3) h2 {
	font-family: "absolut accent", sans-serif;
	color: var(--color-text);
	text-align: center;
	font-size: 2rem;
	padding: 1em;
	transform: rotate(-10deg);
}

section:nth-of-type(3) span {
	font-family: 'absolut heading', sans-serif;
	font-size: 2rem;
}


section:nth-of-type(3) ul {
	display: flex;
	gap: 1em;
	overflow-x: auto;
	justify-content: center;
}

/* rondje van maken... */





section:nth-of-type(4) {
	position: relative;
	display: flex;
	justify-content: center;
	width: auto;
}

section:nth-of-type(4) h2 {
	position: absolute;
	text-align: center;
	top: 1em;
	color: var(--color-text-on-background);
	font-size: 1.5rem;
	z-index: 10;
}

section:nth-of-type(4) a {
	position: absolute;
	top: 4em;
	color: var(--color-text-on-background);
	font-size: 1.5rem;
	z-index: 10;
}


section:nth-of-type(5) {
	margin: 2em;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;

}

@media (min-width: 1024px) {
	section:nth-of-type(5) img {
		width: calc(25% - 1em);
		/* 4 afbeeldingen naast elkaar op desktop */
	}
}

section:nth-of-type(5) img {
	height: auto;
	object-fit: contain;
	display: flex;
	width: 100%;
	margin: 0.5rem;

}

section:nth-of-type(5) h2,
section:nth-of-type(5) p,
section:nth-of-type(5) button {
	margin: 0 auto 1rem auto;
	display: flex;
	justify-content: center;
}



section:nth-of-type(6) h2 {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

section:nth-of-type(6) {
	display: grid;
	margin: 1em;
	gap: 1rem;
	grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 1024px) {
	section:nth-of-type(6) {
		grid-template-columns: repeat(4, 1fr);
	}
}


section:nth-of-type(6) a {
	color: var(--color-accent);
	font-family: 'absolut body', sans-serif;
	text-align: left;
	font-size: 0.7em;
	padding-top: 0.2em;
	order: 1;
}

section:nth-of-type(6) img {
	width: 100%;
	height: auto;
	object-fit: cover;
	display: block;
	order: 2;
}

section:nth-of-type(6) h3 {
	order: 3;
}