/* section 1 */


section:nth-of-type(1) h2 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@media (min-width: 38em) {
    section:nth-of-type(1) img {
        content: url("../images/artist_edition_desktop.avif");
        height: auto;
    }
}




/* Section 2 */

section:nth-of-type(2) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 60vh;

}

section:nth-of-type(2) h2 {
    letter-spacing: 0.1em;
    position: absolute;
    padding: 0em 1em 2em 1em;
    color: var(--color-absolut-white);
    text-align: center;
    font-size: 2.5rem;
    z-index: 10;
    max-width: 30ch;
}

section:nth-of-type(2) span {
    font-size: 1.5em;


}


section:nth-of-type(2) a {
    font-family: var(--font-body);
    position: absolute;
    background-color: var(--color-absolut-white);
    padding: 0.5em;
    margin: 2em;
    color: var(--color-accent);
    font-size: 1.5em;
    z-index: 10;
}

@media (min-width: 38em) {
    section:nth-of-type(2) img {
        content: url("../images/video_desktop.avif");
        height: auto;
    }
}






/* Section 3 */

/* SECTION 3 ---------------------------------------------------- */

section:nth-of-type(3) {
    margin-bottom: 10em;

}

section:nth-of-type(3) h2 {
    font-family: var(--font-accent);
    color: var(--color-text);
    text-align: center;
    font-size: 2rem;
    padding: 1em;
    transform: rotate(-10deg);
}

section:nth-of-type(3) span {
    font-family: var(--font-headline);
    font-size: 2em;
}

section:nth-of-type(3) h3 {
    font-family: var(--font-body);
    font-size: 1em;
}

section:nth-of-type(3) ul {
    margin: 0;
    padding: 0;
    list-style-type: "";

    display: flex;
    gap: 1em;
    overflow-x: auto;
    justify-content: flex-start;

    scroll-snap-type: x mandatory;

    anchor-name: --carousel;
}

@media (prefers-reduced-motion:no-preference) {
    section:nth-of-type(3) ul {
        scroll-behavior: smooth;
    }
}

/* --- SCROLL BUTTONS (from your example) ----------------------- */

section:nth-of-type(3) ul {
    &::scroll-button(*) {
        position: fixed;
        position-anchor: --carousel;
        position-visibility: always;
        font-family: "Material Symbols Outlined";

        width: 3em;
        aspect-ratio: 1/1;
        border-radius: 50%;

        border: none;
        color: var(--color-absolut-white);
        background-color: var(--color-accent);

    }



    &::scroll-button(right) {
        position-area: bottom;
        content: '→' / 'Next';
        justify-self: end;
    }

    &::scroll-button(left) {
        position-area: bottom;
        content: '←' / 'Previous';
        justify-self: start;
    }

    &::scroll-button(*):disabled {
        background-color: var(--color-background-subtile);
        color: var(--color-text);
    }
}

/* ITEMS -------------------------------------------------------- */

section:nth-of-type(3) ul li {
    flex-basis: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
}

section:nth-of-type(3) ul img {
    display: block;
}

/* DESKTOP ------------------------------------------------------ */

@media (min-width: 38em) {
    section:nth-of-type(3) ul {
        overflow-x: visible;
        /* geen scroll meer */
        scroll-snap-type: none;
        /* snap uitzetten */
        justify-content: space-between;
        /* verdeel items over de breedte */
    }

    section:nth-of-type(3) ul li {
        flex: 1 1 18%;
        /* vijf items naast elkaar met wat ruimte ertussen */
        scroll-snap-align: none;
        /* snap uitzetten */
    }

    section:nth-of-type(3) ul::scroll-button(*) {
        display: none;
    }
}






/* Section 4 */

section:nth-of-type(4) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;

}

section:nth-of-type(4) img {
    position: relative;
}

section:nth-of-type(4) h2 {
    font-family: var(--font-headline);
    top: -3em;
    text-align: center;
    color: var(--color-absolut-white);
    font-size: 2.5em;
    z-index: 10;
    position: absolute;
}

section:nth-of-type(4) a {
    font-size: 1.5em;
    color: var(--color-accent);
    padding: 0.5em;
    z-index: 11;
    position: absolute;
    top: 0.5em;
    background-color: var(--color-absolut-white);
}


@media (width > 45em) {
    section:nth-of-type(4) {
        display: grid;
        height: auto;



    }



    section:nth-of-type(4) img {
        content: url("../images/kersen_cocktail_desktop.avif");
    }

    section:nth-of-type(4) h2 {
        font-size: 5em;
        letter-spacing: 8px;
        padding: 0.5em 1em 2em;
        max-width: 22ch;
        background-color: rgba(15, 15, 15, 0.509);
        position: absolute;
        inset-block-start: 10%;
        inset-inline-start: 5%;

    }

    section:nth-of-type(4) a {
        position: absolute;
        color: var(--color-accent);
        background-color: var(--color-absolut-white);
        text-align: center;
        padding: 1em 2em;
        top: 60%;
        left: 22%
    }
}






/* Section 5 */


section:nth-of-type(5) {
    margin: 2em;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}


section:nth-of-type(5) h2,
p,
button {
    color: var(--color-text);
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: center;

}

section:nth-of-type(5) img {
    width: 100%;
    height: auto;
    margin: 0.5rem 0;
    display: block;
}

section:nth-of-type(5) p {
    font-family: var(--font-body);
    color: var(--color-text);
}



section:nth-of-type(5) button {
    border: 1px solid var(--color-text);
    font: interit;
    max-width: 50%;


}

@media (width > 38em) {
    section:nth-of-type(5) {
        grid-template-columns: repeat(4, 1fr);
        margin: 6em;

    }
}





/* Section 6 */

section:nth-of-type(6) ul {

    display: grid;
    gap: 1em;


    @media (width > 40em) {
        grid-template-columns: 1fr 1fr;
    }


    @media (width > 60em) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


section:nth-of-type(6) h2 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


section:nth-of-type(6) article {
    display: flex;
    flex-direction: column-reverse;
}


section:nth-of-type(6) h3 {
    font-family: var(--font-body);
    font-size: 1em;
    color: var(--color-text);
    width: 20ch;
    order: 0;
}

section:nth-of-type(6) a {
    order: -1;
    color: var(--color-accent);
    text-align: left;
}

section:nth-of-type(6) article img {
    object-fit: cover;
}