p {
    font-family: var(--font-body);
}

section:nth-of-type(1) {
    position: relative;
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}


section:nth-of-type(1) h2 {
    font-family: var(--font-headline);
    color: var(--color-darkAccent);
    position: absolute;
    text-align: center;
    font-size: 4.5em;
}


section:nth-of-type(1) span {
    font-family: var(--font-accent);
}

@media (width > 40em) {
    section:nth-of-type(1) img {
        width: auto;
        object-fit: cover;
        display: block;
        height: 100vh;
    }
}


section:nth-of-type(2),
section:nth-of-type(4) {
    margin: 1.5em auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1.5em;
    padding-right: 1.5em;
    max-width: 100ch;

}

section:nth-of-type(2) h2,
section:nth-of-type(4) h2 {
    font-family: var(--font-headline);
    font-size: 3.5em;
    color: var(--color-text);
    text-align: left;
    width: 100%;
}

section:nth-of-type(2) h3,
section:nth-of-type(4) h3 {
    font-family: var(--font-subtitle);
    font-size: 2.5em;
}

section:nth-of-type(2) p,
section:nth-of-type(4) p {
    font-family: var(--font-body);
    color: var(--color-text);
    max-width: 100ch;
}

/* Hier heeft chatGPT me ook bijgeholpen */
section:nth-of-type(3) {
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: start;
    position: relative;
}

section:nth-of-type(3) img~p {
    margin: 0.5rem 0;
    position: relative;
    z-index: 2;
    max-width: 20ch;




}

section:nth-of-type(3) {
    grid-template-columns: 1fr;
}

section:nth-of-type(3) img,
section:nth-of-type(3) img~p {
    grid-column: 1;
    text-align: left;
    max-width: 100%;
}

@media (width > 38em) {

    section:nth-of-type(3) {
        display: grid;
        grid-template-columns: 1fr auto 1fr;

        gap: 1rem;
        justify-items: center;

        align-items: start;
        position: relative;
    }


    section:nth-of-type(3) img {
        grid-column: 2;
        width: 100%;

    }

    section:nth-of-type(3) img~p:nth-of-type(1),
    section:nth-of-type(3) img~p:nth-of-type(3),
    section:nth-of-type(3) img~p:nth-of-type(5) {
        grid-column: 1;
        text-align: right;
        max-width: 20ch;

    }

    section:nth-of-type(3) img~p:nth-of-type(2),
    section:nth-of-type(3) img~p:nth-of-type(4),
    section:nth-of-type(3) img~p:nth-of-type(6) {
        grid-column: 3;
        text-align: left;
        max-width: 20ch;
    }
}



section:nth-of-type(5),
section:nth-of-type(7) {
    background-color: var(--color-background-subtile);
    display: grid;
    gap: 1em;
}


section:nth-of-type(5) ul,
section:nth-of-type(7) ul {

    display: grid;
    gap: 1em;
}

section:nth-of-type(5) article,
section:nth-of-type(7) article {
    display: flex;
    flex-direction: column-reverse;
    margin: 1.5em;
}

section:nth-of-type(5) h2,
section:nth-of-type(7) h2 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

section:nth-of-type(5) h3,
section:nth-of-type(7) h3 {
    font-family: var(--font-subtitle);
    order: 1;
}

section:nth-of-type(5) img,
section:nth-of-type(7) img {
    width: 100%;
    height: auto;
    order: 2;
}

@media (width > 38em) {
    section:nth-of-type(5) ul {
        grid-template-columns: repeat(3, 1fr);
    }

    section:nth-of-type(7) ul {
        grid-template-columns: repeat(2, 1fr);
    }

}



section:nth-of-type(6) {
    margin: 1.5em auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1.5em;
    padding-right: 1.5em;
    max-width: 100ch;
}

section:nth-of-type(6) h2,
section:nth-of-type(6) h3,
section:nth-of-type(6) p {
    text-align: left;
    width: 100%;
}

section:nth-of-type(6) h2,
section:nth-of-type(6) h3 {
    font-family: var(--font-subtitle);

}

section:nth-of-type(6) img {
    align-self: center;
}


section:nth-of-type(8) {
    margin: 1.5em auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1.5em;
    padding-right: 1.5em;
    max-width: 100ch;
}

section:nth-of-type(8) h2 {
    font-family: var(--font-subtitle);
    font-size: 2.5em;
}

blockquote {
    font-family: var(--font-subtitle);
    margin: 1.5em;
    font-size: 2em;
    border-left: 0.5em solid var(--color-background-subtile);
    padding-left: 1em;

}

section:nth-of-type(8) img {
    max-height: 40vh;
    object-fit: cover;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}