/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

html,
body {
	margin: 0;
	background-color: var(--color-background);
}







/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	color-scheme: light dark;
	--color-text: #1d1d1d;
	--color-background: #FFFFFF;
	--color-footer-background: #F3F3F3;
	--color-accent: #007AFF;
	--color-darkAccent: #1f0eb9;
	--color-background-subtile: #ffefe9;
	--color-absolut-white: #FFFFFF;
	--font-body: 'absolut body', sans-serif;
	--font-bodyBold: 'absolut bodyBold', sans-serif;
	--font-headline: 'absolut heading', sans-serif;
	--font-accent: 'absolut accent', sans-serif;
	--font-subtitle: 'absolut subtitle', sans-serif;
}

@media (prefers-color-scheme: dark) {

	:root {
		color-scheme: light dark;

		--color-text: #FFFFFF;
		--color-absolut-white: #e4e4e4;
		--color-background: #1d1d1d;
		--color-footer-background: #202022;
		--color-accent: #6bacf2;
		--color-darkAccent: #1f0eb9;
		--color-background-subtile: #474241;
	}
}

dialog {
	z-index: 100;
	text-align: center;
	padding: 1em;
	border: none;
	position: fixed;
	inset: 0;
	display: grid;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.4);
	/* donker en doorzichtig */
	backdrop-filter: blur(6px);
	/* wazig maken */
}

dialog p {
	color: var(--color-absolut-white);
	text-align: center;
}

dialog h2 {
	font-family: var(--font-bodyBold);
	color: var(--color-absolut-white);
	text-align: center;
	margin-bottom: 0.5em;
}

dialog input {
	margin-top: 1em;
	border: none;
	padding: 0.5em 1em 0.5em 1em;
	font-family: var(--font-body);
	font-size: 1em;
}

dialog button {
	margin-top: 1em;
	background: var(--color-absolut-white);
	color: var(--color-darkAccent);
	border: 1px solid var(--color-absolut-white);
	padding: 0.5em 1em 0.5em 1em;
	font-family: var(--font-bodyBold);
	font-size: 1em;
	cursor: pointer;
}

@media (min-width: 38em) {

	dialog {
		margin: auto;
		z-index: 100;
		width: 40%;
		padding-top: 2em;
		padding-bottom: 1em;
		border: none;
		position: fixed;
		inset: 0;
		display: grid;
		place-items: center;
		background: color-mix(in srgb, var(--color-darkAccent) 90%, black);
	}
}

/*********************/
/* DRONKEN MODE */
/*********************/

nav input {
	background: var(--color-accent);
	appearance: none;
	width: 4em;
	aspect-ratio: 2/1;
	border-radius: 2em;
	font: inherit;

}

nav input::after {
	background: var(--color-darkAccent);
	content: "";
	width: 2em;
	aspect-ratio: 1;
	display: block;
	border-radius: inherit;
	transition: 0.4s ease;

}

nav input:checked::after {
	background: var(--color-darkAccent);
	translate: 2em;
}

@keyframes wave {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-2rem);
	}
}


ul li input[type="checkbox"]:checked~h2 {
	animation: wave 2s ease-in-out infinite;
}






/*********************/
/* Fonts en headings */
/*********************/

@font-face {
	font-family: 'absolut accent';

	src: url("../fonts/Absolut_handwritten.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'absolut heading';
	src: url("../fonts/AbsolutHeadlineCondensed.ttf");
	letter-spacing: 8px;
}

@font-face {
	font-family: 'absolut body';
	src: url("../fonts/AbsolutSansRegular.ttf");
	font-style: normal;
}

@font-face {
	font-family: 'absolut bodyBold';
	src: url("../fonts/AbsolutSans2021-Bold.woff2");
	font-style: bold;
}

@font-face {
	font-family: 'absolut subtitle';
	src: url("../fonts/AbsolutSansRegular.ttf");
	font-weight: 400;
	font-style: bold;
}

h1 {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

h2 {
	font-family: var(--font-headline);
	color: var(--color-text);
	font-size: 2rem;
}

h3 {
	color: var(--color-text);
}

p {
	font-family: var(--font-body);
	color: var(--color-text);
}


/*********************/
/* LINKJES & BUTTONS */
/*********************/

a {
	font-family: var(--font-body);
	color: var(--color-text);
	text-decoration: none;
	padding: 0em 0em 0.3em 0em;
}

button {
	background: none;
	border: none;
	padding: 1em;
}

button img {
	max-width: 2em;
}

button:hover {
	cursor: pointer;
}






/*********************/
/* STIJL OPMAAK */
/*********************/

article a {
	display: flex;
	flex-direction: column;
	text-align: center;
}

article h3 {
	order: 2;
}

article img {
	order: 1;
	object-fit: contain;
	width: auto;
}

img {
	width: 100%;
	height: auto;
	display: block;
}








/*********************/
/* LIJST & NAVIGATIE */
/*********************/

ul {
	list-style: none;
	padding: 2em;
}

header nav button {
	position: relative;
	z-index: 12;
}


header nav.is_open button img {
	content: url("/images/icons_en_logos/menu_open.svg");
}

header nav ul {
	font-family: var(--font-bodyBold);
	background-color: var(--color-footer-background);
	transition: 1s;
	position: fixed;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--color-footer-background);
	padding: em;
	transform: translateX(-100%);
	transition: transform 0.5s ease;
	margin: 0;
	/* reset */
}

header nav.is_open ul {
	margin-top: 0;
	transform: translateX(0);
}

header nav ul li {
	font-size: 1.5em;
	text-align: left;
	border-bottom: var(--color-text) solid 0.5px;
	transition: transform 0.3s ease;
	padding: 1em 1em 1em 1em;

}


@media (min-width: 38em) {
	header nav ul {
		width: 40%;
	}
}


header nav ul li:hover,
header nav ul li a:focus {
	background-color: var(--color-background);
	transform: translateX(0.5em);
}


header nav ul li a:focus-visible {
	background-color: var(--color-background-subtile);
	outline: 2px solid var(--color-accent);
}

header nav ul li a:focus-visible {
	transform: translateX(10px);
}

header nav ul li:last-of-type {
	display: flex;
	justify-content: space-between;
	align-items: center;
}





/*********************/
/* HEADER & FOOTER */
/*********************/

header {
	background-image: url("../images/header.avif");
	color: var(--color-absolut-white);
	display: flex;
	align-items: center;
	position: sticky;
	padding: 0em 0em 2em 2em;
	z-index: 20;
}

header img {
	height: 2em;
	width: auto;

}

header nav {
	order: -1;
	flex: 0 0 auto;
}

header img {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	height: 2em;
	width: auto;
}


footer {
	font-family: var(--font-body);
	color: var(--color-text);
	background-color: var(--color-footer-background);
	line-height: 2.5em;
	padding: 2rem;
}

footer h2 {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}


footer summary {
	font-family: var(--font-bodyBold);
	cursor: pointer;
	list-style: none;
}

footer ul {
	margin: 0.5rem 0 0 1rem;
	padding: 0;
}

footer ul li {
	font-family: var(--font-body);
	border-bottom: 0.5px solid var(--color-text);
	margin-bottom: 0.3rem;
	transition: transform 0.3s ease;
}

footer ul li:hover {
	background-color: var(--color-background);
	transform: translateX(10px);
}

footer section:nth-of-type(1) {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
	padding-top: 1rem;
}

footer section:nth-of-type(2) {
	display: flex;
	justify-content: center;
	padding-top: 1rem;
	gap: 1rem;
	flex-direction: column;
	align-items: center;
	line-height: normal;

}


/* voor anmieren ::details-content: van https://www.youtube.com/watch?v=Vzj3jSUbMtI */

details ::marker {
	content: '';
	/* verbergen voor safari nog doen */
}

details summary::-webkit-details-marker {
	display: none;
}

summary {
	border-bottom: 0.5px solid var(--color-text);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .5em;
}

summary::after {
	content: "+";
	transition: 1s;
	font-size: 2em;
	line-height: 1rem;
}

details[open] summary::after {
	content: "-";
}

footer svg {
	fill: var(--color-text)
}


@media (width > 42em) {
	footer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 2rem;
	}

	summary {
		border: none;
	}

	summary::after {
		content: "";
	}

	details::details-content {
		content-visibility: visible;
	}

	footer section {
		grid-column: 4 / span 1;

		justify-content: flex-start;
		align-items: flex-start;
		margin-top: 0;
	}

	@media (width > 42em) {
		footer {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: 2rem;
		}

		footer section:first-of-type {
			grid-column: 4;
			grid-row: 1;
		}

		footer section:last-of-type {
			grid-column: 4;
			grid-row: 1;
		}
	}

}